
.buttonWraper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fa4143, #dc222b);
}

.calc-button {
  width: 250px;
  height: 60px;
  border: solid white 1px;
  border-radius: 7px;
  color: white;
  background: linear-gradient(to right, #fa4143, #dc222b);
}
.calc-button:hover{
  background: #dc222b
 }

.modal {
  width: 100%;
  height: 100%;
  background-color: rgb(164, 164, 164);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active{
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 30vw;
}
.modal__content.active {
  transform: scale(1);
}

.modal__close-button {
  position: absolute;
  right: 20px;
  color: #dc222b;
  border: none;
  background-color: white;
  font-weight: bolder;
}

.modal__formWrapper {
  display: flex;
  flex-direction: column;
}

.modal__text {
  color: rgb(164, 164, 164);
  font-size: small;
  margin: 0px 5px 0px 5px;
}

.modal__salary button {
  color: #dc222b;
  border: none;
  background-color: white;
  font-weight: bolder;
  padding: 0;
}

.modal__salary input {
  border-width: 1px;
  width: 95%;
  height: 30px;
  border-radius: 3px;
}

.modal__salary p {
  margin-bottom: 5px;
}

.module__checkbox-mark {
  color: grey;
  background-color: white
}
